<br>
<p><%= link_to t('.twitter'), "/auth/twitter" %></p>
<p><%= link_to t('.github'), "/auth/github" %></p>
<p><%= link_to t('.facebook'), "/auth/facebook" %></p>
<p><%= link_to t('.vk'), "/auth/vkontakte" %></p>

<p>
  <strong><%= t('.dont_use') %></strong>
  <%= link_to t('.create'), new_identity_path %> <%= t('.login_below') %>
</p>
  
<%= form_tag "/auth/identity/callback" do %>
  <div class="field">
    <%= label_tag :auth_key, t('.email') %><br>
    <%= text_field_tag :auth_key, nil, class: "form-control", id: "usr" %>
  </div>
  <div class="field">
    <%= label_tag :password, t('.password') %><br>
    <%= password_field_tag :password, nil, class: "form-control", id: "pwd" %>
  </div>
  <div class=""><br><%= submit_tag t('.login'), class: "btn btn-primary" %></div>
<% end %>



