<h1><%= t('.tasks') %></h1>

<%= form_tag search_tasks_path, :method => :get do %>
<p>
  <%= text_field_tag :query, params[:query], placeholder: t('.search'), class: "form-control" %> <%= submit_tag t('.search-submit'), class: "btn btn-primary" %>
</p>
<% end %>

<%= render 'layouts/tasks' %>

<br>

<% if !session[:user_id].nil? %>
  <%= link_to new_user_task_path(User.find(session[:user_id])), class: "btn btn-success" do %>
    <i class="glyphicon glyphicon-plus"></i> <%= t('.new-task') %>
  <% end %>
<% end %>
