<div class="col-md-12">
  <div class="row">
    <div class="col-md-3">
      <h1><%= @task.name %></h1>
    </div>
    <div class="col-md-9">
      <% if @task.user && session[:user_id] == @task.user.id %>
        <div class = "row">
          <%= link_to 'Edit', edit_user_task_path(@task.user, @task), class: "btn btn-primary" %> 
          <%= link_to 'Destroy', @task, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-warning" %> 
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <% if !@task.tags.empty? %>
        <div class="col-md-12">
          <h4>_tags:</h4>
          <%= @task.tag_list.map { |t| link_to t, tag_path(t), class: "btn btn-default" }.join(', ').html_safe %>
        </div>
    <% end %>
    <div class="col-md-4">
      <h3>_category</h3>
      <%= @task.show_category %>
    </div>
    <div class="col-md-4">
      <h3>_level</h3>
      <%= @task.show_level %>
    </div>
    <div class="col-md-4">
      <h3>_rating</h3>
      <%= @task.rating %>
    </div>
    <div class="col-md-4">
      <% if @task.user %>
        <h3>_author</h3>
        <%= link_to @task.user.name, @task.user, class: "btn btn-default" %>
      <% end %>
    </div>
  </div>
  <div class="description">
    <%= markdown(@task.description) %>
  </div>
  <div class="comments container">
    <% if !@task.comments.empty? %>
      <h3>COMMENTS</h3>
        <% @task.comments.each do |f| %>
        <p>
          <h4><%= f.user.name if f.user %></h4>
        </p>
        <p>
          <h3><%= f.title if f %></h3>
        </p>
        <p>
          <div>Comment : <%= f.comment if f %></div>
        </p>
        <% end %>
    <% end %>
  </div>
</div>



<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
