<div class="col-md-12">
  <div class="row">
    <div class="col-md-12">
      <h1><%= @task.name %></h1>
    </div>
    <div class="col-md-12">
      <% if @task.user && session[:user_id] == @task.user.id %>
        <%= link_to 'Edit', edit_user_task_path(@task.user, @task), class: "btn btn-primary" %> 
        <%= link_to 'Destroy', @task, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-warning" %> 
      <% end %>
    </div>
  </div>
  <div class="row">
    <% if !@task.tags.empty? %>
        <div class="col-md-12">
          <h4>_tags:</h4>
          <%= @task.tag_list.map { |t| link_to t, tag_path(t), class: "btn btn-default" }.join(', ').html_safe %>
        </div>
    <% end %>
    <div class="col-md-4">
      <h4>_category</h4>
      <%= @task.show_category %>
    </div>
    <div class="col-md-4">
      <h4>_level</h4>
      <%= @task.show_level %>
    </div>
    <div class="col-md-4">
      <h4>_rating</h4>
      <%= @task.rating %>
    </div>
    <div class="col-md-4">
      <% if @task.user %>
        <h4>_author</h4>
        <%= link_to @task.user.name, @task.user, class: "btn btn-default" %>
      <% end %>
    </div>
    
    <div class="col-md-12">
      <% if session[:user_id] %> 
        <% if session[:user_id] == @task.user.id %>
          
          <h4>ANSWER: </h4>
          <%= @task.answer %>

        <% else %>

          <%= link_to "Give your answer", new_task_answer_path(@task), class: "btn btn-primary" %>

        <% end %>
      <% end %>
    </div>

  </div>
  <div class="description">
    <%= markdown(@task.description) %>
  </div>

  <div class="comments container">
    <% if !@task.comments.empty? %>
      <h3>COMMENTS</h3>
        <% @task.comments.each do |f| %>
        <p>
          <h4><%= f.user.name if f.user %></h4>
        </p>
        <p>
          <h3><%= f.title if f %></h3>
        </p>
        <p>
          <div>Comment : <%= f.comment if f %></div>
        </p>
        <% end %>
    <% end %>
  </div>

</div>

<div class="row"> 
  <div class="col-md-12">
    <br>
    <%= link_to 'Back', user_tasks_path(@task.user), class: "btn btn-primary" %>
  </div>
</div>