<div class="col-md-12">
  <div class="row">
    <div class="col-md-6">
      <h1><%= @task.name %></h1>
    </div>
    <div class="col-md-6">
      <% if !@task.user.nil? %>
        <%= link_to 'Edit', edit_user_task_path(@task.user, @task), class: "btn btn-primary" %> 
      <% end %>
      <%= link_to 'Destroy', @task, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-warning" %> 
    </div>
  </div>
  <div class="row">
    <% if !@task.tags.empty? %>
        <div class="col-md-12">
          <h4>_tags:</h4>
          <%= @task.tag_list.map { |t| link_to t, tag_path(t), class: "btn btn-default" }.join(', ').html_safe %>
        </div>
    <% end %>
    <div class="col-md-4">
      <h3>_category</h3>
      <%= @task.show_category %>
    </div>
    <div class="col-md-4">
      <h3>_level</h3>
      <%= @task.show_level %>
    </div>
    <div class="col-md-4">
      <h3>_rating</h3>
      <%= @task.rating %>
    </div>
    <div class="col-md-4">
      <% if @task.user %>
        <h3>_author</h3>
        <%= link_to @task.user.name, @task.user, class: "btn btn-info" %>
      <% end %>
    </div>
  </div>
  <div class="description">
    <%= markdown(@task.description) %>
  </div>
  <div class="comments container">
    <% if !@task.comments.empty? %>
      <h3>COMMENTS</h3>
      <p>
        <% @task.comments.each do |f| %>
        <p>User : <%= f.user.name if f.user %>  </p>
        <p>Title : <%= f.title if f %></p>
        <p>Comment : <%= f.comment if f %></p>
        <% end %>
      </p>
    <% end %>
  </div>
</div>



<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
