<h1>New User</h1>

<%= render 'form' %>

<p><%= link_to "Sign in with Twitter", "/auth/twitter" %></p>
<p><%= link_to "Sign in with GitHub", "/auth/github" %></p>
<p><%= link_to "Sign in with Facebook", "/auth/facebook" %></p>
<p><%= link_to "Sign in with VK", "/auth/vkontakte" %></p>

<%= link_to 'Back', users_path %>
