<div class="container">
	<div class="col-md-12">
		<h1><%= @user.name %></h1>
		<h3><%= @user.email %></h3>
	</div>
	<div class="row">
		<h5>_rating: <%= @user.rating %></h5>
		<% if !@user.tasks.empty? %>
		<h2>_user_tasks</h2>
		<%= render 'tasks' %>
		<% end %>
	</div>
</div>

<p>
	<strong>Create a new task:</strong>
	<%= link_to "Create!", new_user_task_path(@user) %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
