<% @tasks.each do |task| %>
  <div class="row">
    <b><h1><%= task.name %></h1></b>
    <p>
      <%= markdown(task.description[0..100]) %>
    </p>
    <p>
      <h6>Category:</h6>
      <%= task.show_category %>
    </p>
    <p>
      <h6>Level:</h6>
      <%= task.show_level %>
    </p>
    <p>
      <h6>Rating:</h6>
      <%= task.rating %>
    </p>
    <%= link_to 'Show', task, class: "btn btn-success" %>
  </div>
<% end %>




<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Category</th>
      <th>Level</th>
      <th>Rating</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr class="info">
        <td><%= task.name %></td>
        <td><%= markdown(task.description) %></td>
        <td><%= task.show_category %></td>
        <td><%= task.show_level %></td>
        <td><%= task.rating %></td>
        <td><%= link_to 'Show', task %></td>
      </tr>
    <% end %>
  </tbody>
</table>