<%= form_for @answer, url:  do |f| %>
  <% if @answer.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this answer from being saved:</h2>
      <ul>
      <% @answer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <form role="form">
    <div class="form-group">
      <%= f.label "Answer" %><br>
      <%= f.text_field :content, class: "form-control" %>
    </div>
    <div class="row">
      <div class="col-md-12">
        <br>
        <%= f.submit %>
      </div>
    </div>
  </form>
<% end %>