<h1>Answers#create</h1>
<p>Find me in app/views/answers/create.html.erb</p>

Your answer is <%= @answer.content %>
<% if @answer.correct %>
Answer is correct.
<% else %>
Answer is not correct. <%= link_to "Try again", user_task_answer_path(@task.user, @task) %>.
<% end %>

Correct answer is <%= @task.answer %>

<%= link_to "Back to Task", user_task_path(@task.user, @task) %>.

<%= debug @answer %>