<%= t('.you-gave') %><%= @answer.content %>
<% if @answer.correct %>
	<h2><%= t('.correct') %></h2>
<% else %>
<h2><%= t('.not-correct') %></h2><%= link_to t('.try-again'), user_task_answer_path(@task.user, @task), class: "btn btn-default" %>.
<% end %>

<%= link_to t('.back'), user_task_path(@task.user, @task), class: "btn btn-primary" %>.