<h1><%= t('.levels') %></h1>

<div class="row">
  <% @levels.each do |level| %>
    <div class="btn btn-default">
      <div class="col-md-12">
        <%= link_to level.name, level_path(level) %>
      </div>
      <div class="col-md-12">
        <%= t('.how-hard') %> :: <%= level.value %>
      </div>
    </div>
  <% end %>
</div>

<div class="row">
  <div class = "col-md-12">
    <br>
    <%= link_to t('.new-level'), new_level_path, class: "btn btn-success" %>
  </div>
</div>
