<div class="row">
  <% @tasks.each do |task| %>
    <div class="col-md-12">
      <h1><b><%= link_to task.name, user_task_path(task.user, task) %></b></h1>
      <div class="description">
      <%= markdown(task.description[0..250]) %>
      </div>
      <div class="row">
        <% if !task.tags.empty? %>
            <div class="col-md-12">
              <h4><%= t('.tags') %></h4>
                <% task.tags.each do |tag| %>
                  <%= link_to tag.name, tag_path(tag.name), :class => "btn btn-default" %>
                <% end %>
            </div>
        <% end %>
        <div class="col-md-4">
          <h4><%= t('.category') %></h4>
          <%= task.show_category %>
        </div>
        <div class="col-md-4">
          <h4><%= t('.level') %></h4>
          <%= task.show_level %>
        </div>
        <div class="col-md-4">
          <h4><%= t('.rating') %></h4>
          <%= task.rating %>
        </div>
      </div>
      <br></br>
      <%= link_to t('.show-task'), user_task_path(task.user, task), class: "btn btn-success" %> 
    </div>
  <% end %>
</div>

<%= t('.no-tasks-found') if @tasks.empty? %>