<!DOCTYPE html>
<html>
<head>
  <title>UTask</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<p>
<%= link_to "Users", users_path %> |
<%= link_to "Tasks", tasks_path %> |
<%= link_to "Categories", categories_path %> |
<%= link_to "Levels", levels_path %>
</p>

<p>
<<<<<<< HEAD
<%= link_to "Welcome Page", root_path %>
=======
<%= link_to "Welcome Page", welcome_index_path %>
>>>>>>> 85b126fa208112125a67cbc3c1f44901beca3492
</p>

</body>
</html>
