<!DOCTYPE html>
<html>
<head>
  <title>UTask</title>
  <%= stylesheet_link_tag 'application', "jquery-ui" %>
  <%= javascript_include_tag 'application', 'jquery-ui', 'autocomplete-rails', 'jquery' %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "UTASK", root_path, class: "navbar-brand" %>
    </div>
    <ul class="nav navbar-nav">
      <li>
        <%= link_to "Users", users_path %>
      </li>      
      <li>
        <%= link_to "Categories", categories_path %>
      </li> 
      <li>
        <%= link_to "Levels", levels_path %>
      </li>
      <li>
        <%= link_to "Tasks", tasks_path %>
      </li>
      <li>
        <% if current_user %>
          <li><%= link_to "Sign Out", signout_path %></li>
          <p class="navbar-text" >Welcome, <%= link_to current_user.name, current_user %>!</p>
        <% else %>
          <%= link_to "Sign in", login_path %>
        <% end %>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <% if notice %>
    <div class="alert alert-success"><%= notice %></div>
  <% end %>
  
  <%= yield %>
</div>

<% debug @task.answers if @task %>
<% debug params %>

</body>
</html>
