<!DOCTYPE html>
<html>
<head>
  <title>UTask</title>
  <%= stylesheet_link_tag 'application', "jquery-ui" %>
  <%= javascript_include_tag 'application', 'jquery-ui', 'autocomplete-rails', 'jquery' %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "UTASK", root_path, class: "navbar-brand" %>
    </div>
    <ul class="nav navbar-nav">
      <li>
        <%= link_to t('.users'), users_path %>
      </li>      
      <li>
        <%= link_to t('.categories'), categories_path %>
      </li> 
      <li>
        <%= link_to t(".levels"), levels_path %>
      </li>
      <li>
        <%= link_to t('.tasks'), tasks_path %>
      </li>
      <li>
        <% if current_user %>
          <li><%= link_to t('.signout'), signout_path %></li>
          <p class="navbar-text" ><%= t('.welcome') %>, <%= link_to current_user.name, current_user %>!</p>
        <% else %>
          <%= link_to t('.signin'), login_path %>
        <% end %>
      </li> 
    </ul>
    <div class="lang-selector">
      <%= form_tag root_path, class: 'locale' do %>
        <%= select_tag 'set_locale', 
        options_for_select(LANGUAGES, I18n.locale.to_s), 
        onchange: 'this.form.submit()' %>
        <%= submit_tag 'submit' %>
        <%= javascript_tag "$('.locale input').hide()" %>
      <% end %> 
    </div>
  </div>
</nav>

    <div id="wrap">

      <!-- Begin page content -->
      <% if notice %>
        <div class="alert alert-success"><%= notice %></div>
      <% elsif alert %>
        <div class="alert alert-danger"><%= alert %></div>
      <% end %>

      <div class="container">
          <%= yield %>
      </div>

      <div id="push"></div>
    </div><div id="footer">
      <div class="container">
        <p class="muted credit"><%= t('.example') %><%= link_to t('.project'), "https://github.com/SwatGetmann/u-task" %><%= t('.created_by') %>
        <%= link_to "Swat Getmann", "http://www.github.com/SwatGetmann" %> </p>
      </div>
    </div>

</body..
</html>
